<div class="page-header">
	<h1>Seja bem-vindo ao sistema</h1>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque doloremque at enim illo tempora, mollitia ut commodi, dignissimos maiores voluptatibus rem harum, nihil sed alias ratione. Doloremque possimus, laborum explicabo.</p>
